@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    /*outline: 3px solid rgb(197, 197, 197);*/
}

:root {
    --primary-color: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --neutral-color: hsl(303, 10%, 53%);
    --light-color: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    //background: var(--white);
    font-family: 'Spartan', sans-serif;
    
    .main {
        margin: 120px auto 0 167px;
        max-width: 1440px;
        max-height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .titles {
            margin-right: 20%;

            .title {
                font-size: 40px;
                padding-bottom: 7px;
            }
        }

        .container {


            ul {
                display: flex;
                grid-template-columns: 180px 265px;
                list-style: none; 

                img {
                    width: 180px;
                    height: 55px;
                    grid-column: 1;
                }

                h4 {
                    grid-column: 2;
                }
            }
        }
    }
    



}  